{% extends '../base.html' %}

{% block index %}
<style>
     th{
        background-color: #082E33 !important;
        color: rgb(241, 238, 238) !important;
    }
    
</style>

<div class="container table-responsive">
    <h2 class="text-center my-4">Lista de proveedores</h2>
    <a class="btn btn-success mb-3" href="{% url 'añadir_proveedor' %}"><i class="fas fa-plus"></i> Añadir proveedor</a>
    <form action="{% url 'listar_proveedor' %}" method="GET">
        <select id="num" name="page">
            <option name="page" value="10">10</option>
            <option name="page" value="20">20</option>
            <option name="page" value="50">50</option>
            <option name="page" value="100">100</option>
            <option name="page" value="200">200</option>
        </select>
        <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
    </form>

    <table class="table table-striped ">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="font-size: 0.8em; text-align: center; width: 15%;">Nombre Completo</th>
                <th scope="col" style="font-size: 0.8em; text-align: center; width: 10%;">C.I</th>
                <th scope="col" style="font-size: 0.8em; text-align: center; width: 15%;">Empresa</th>
                <th scope="col" style="font-size: 0.8em; text-align: center; width: 10%;">Nit</th>
                <th scope="col" style="font-size: 0.8em; text-align: center; width: 10%;">Telefono</th>
                <th scope="col" style="font-size: 0.8em; text-align: center; width: 15%;">Correo</th>
                <th scope="col" style="font-size: 0.8em; text-align: center; width: 10%;">Pais</th>
                <th scope="col" style="font-size: 0.8em; text-align: center; width: 10%;">Direccion</th>
                <th scope="col" style="font-size: 0.8em; text-align: center; width: 15%;">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in data %}
            <tr>
                <td style="font-size: 0.8em; text-align: center;">{{ proveedor.persona.nombre }}
                    {{proveedor.persona.apellidos }}</td>
                <td style="font-size: 0.8em; text-align: center;">{{ proveedor.persona.cedula_identidad }}</td>
                <td style="font-size: 0.8em; text-align: center;">{{ proveedor.empresa }}</td>
                <td style="font-size: 0.8em; text-align: center;">{{ proveedor.nit }}</td>
                <td style="font-size: 0.8em; text-align: center;">{{ proveedor.telefono }}</td>
                <td style="font-size: 0.8em; text-align: center;">{{ proveedor.correo }}</td>
                <td style="font-size: 0.8em; text-align: center;">{{ proveedor.pais }}</td>
                <td style="font-size: 0.8em; text-align: center;">{{ proveedor.direccion }}</td>
                <td style="font-size: 0.8em; text-align: center;">
                    <a class="btn btn-warning btn-sm" href="{% url 'actualizar_proveedor' proveedor.id %}">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <a class="btn btn-danger btn-sm" href="{% url 'eliminar' proveedor.id %}"
                        onclick="return confirm('¿Estás seguro de que quieres eliminar este proveedor?');">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'paginador/paginador.html' %}
</div>

{% endblock %}