{% extends '../base.html' %}

{% block index %}
<style>
.container{
    background-color: #0E9097 !important;
    color: rgb(241, 238, 238) !important;
    font-weight: bold;
}
.text-center{
  
    color:#0c0b0b !important;
}
.form-control, 
.form-select, 
textarea {
    background-color: #b5b5b5; /* Fondo rojo claro */
    color: #020405; /* Texto rojo oscuro */
   
}

.form-control:focus, 
.form-select:focus, 
textarea:focus {
    background-color: #0C6D73; /* Fondo rojo más claro al enfocar */
    border-color: rgb(3, 30, 41); /* Borde rojo oscuro al enfocar */
    box-shadow: 0 0 5px rgba(1, 49, 77, 0.5); /* Sombra roja */
}

</style>

<h2 style="text-align: center;">Añadir material</h2>
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}



    <!-- Modal -->


    <form action="{% url 'crear_material' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
            {% if field.name != 'categoria' %}
            <div class="col-6">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            {% for field in form_info %}
            <div class="col-6">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6">
                <label for="{{ form.categoria.id_for_label }}" class="form-label">{{ form.categoria.label }}</label>
                {{ form.categoria }}
                {{ form.categoria.errors }}
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>


{% endblock index %}

{% block js %}

{% endblock js %}