{% extends '../base.html' %}

{% block index %}
<div class="container">
    <form method="POST" action="{% url 'reporte_gestion' %}">
        {% csrf_token %}
        <select name="año" class="form-control" required>
            {% if gestion %}
            {% for año in gestion %}
            <option value="{{ año }}" {% if gestion1 == año %} selected {% endif %}>{{ año }}</option>
            {% endfor %}
            {% else %}
            <option disabled>No hay años disponibles</option>
            {% endif %}
        </select>
        <button type="submit" class="btn btn-primary">Buscar</button>
        <select id="num" name="limit">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
        </select>
    </form>
</div>

<h2>Lista de Materiales</h2>
<div class="table-responsive">
    <table id="table_gestion" class="table table-striped">
        <thead>
            <tr>
                <th>Gestión</th>
                <th>Nombre</th>
                <th>Código</th>
                <th>Marca</th>
                <th>Stock</th>
                <th>Fecha de Creación</th>
                <th>Tamaño</th>
                <th>Color</th>
                <th>Unidad de Medida</th>
                <th>Unidad de Manejo</th>
                <th>Material</th>
                <th>Factura</th>
                <th>Código de Paquete</th>
                <th>Categoría</th>
                <th>Proveedor</th>
            </tr>
        </thead>
        <tbody>
            {% for material in data %}
            <tr>
                <td>{{ material.gestion }}</td>
                <td>{{ material.nombre }}</td>
                <td>{{ material.codigo }}</td>
                <td>{{ material.marca }}</td>
                <td>{{ material.stock }}</td>
                <td>{{ material.fecha_creacion|date:"d-m-Y H:i:s" }}</td>
                <td>{{ material.tamaño }}</td>
                <td>{{ material.color }}</td>
                <td>{{ material.unidad_medida }}</td>
                <td>{{ material.unidad_manejo }}</td>
                <td>{{ material.material }}</td>
                <td>{{ material.factura.codigo_factura }}</td>
                <td>{{ material.codigo_paquete }}</td>
                <td>{{ material.categoria.nombre }}</td>
                <td>{{ material.proveedor.persona.nombre }} {{ material.proveedor.persona.apellidos }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="15">No hay materiales disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'paginador/paginador.html' %}
</div>

{% endblock index %}

{% block js %}

<script>
    $(document).ready(function () {


        const table = $('#table_gestion').DataTable({
            paging: false,
            dom: 'Bfrtip',
            buttons: [
                'excel',
                {
                    extend: 'pdf',
                    orientation: 'landscape', // Establece la orientación horizontal
                    pageSize: 'A4',
                    title: 'Informe',
                    customize: function (doc) {
                        doc.content[1].margin = [10, 10, 10, 10]; // Margen de la tabla
                        // Configura otras opciones del PDF aquí si es necesario
                    },
                    exportOptions: {
                        columns: ':visible' // Exporta solo columnas visibles
                    }
                },
                'print'
            ],
        });
    });
</script>
{% endblock js %}