# Ignorar el entorno virtual
/.env/
/env/

# Ignorar directorios de recuperación
Recovery/

# Ignorar la carpeta de información del sistema
System Volume Information/

# Ignorar el directorio de uploads
/upload/

# Ignorar todos los archivos en __pycache__ de todas las aplicaciones
(materiales/__pycache__/)
(pedidos/__pycache__/)
# Ignorar archivos .pyc generados
*.pyc

