{% extends '../base.usuarios.html' %}
{% load static %}
{% block usuario %}

<div class="container">
    <h1 class="text-center">Lista de Materiales</h1>
    <form action="{% url 'secreatria_material' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <div>
                    <label for="fecha_inicio" class="form-label">Fecha de Inicio</label>
                    <input type="date" style="width: 30%;" id="fecha_inicio" name="fecha_inicio"
                        class="form-control form-control-sm" value="{{ request.GET.fecha_inicio }}">
                </div>
            </div>
            <div class="col-6">
                <div>
                    <label for="fecha_fin" class="form-label">Fecha de Fin</label>
                    <input type="date" style="width: 30%;" id="fecha_fin" name="fecha_fin"
                        class="form-control form-control-sm" value="{{ request.GET.fecha_fin }}">
                </div>
            </div>
        </div>



        <button type="submit" class="btn btn-primary btn-sm mt-3">buscar</button>
    </form>


    <table id="compras" class="table table-bordered table-striped mt-4">
        <thead class="table-dark">
            <tr>
                <th>Item</th>
                <th>Descripción</th>
                <th>Unidad Manejo</th>
                <th>Secretaria</th>
                <th>Cantidad</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for material in data %}
            <tr>
                <td>{{ material.item }}</td>
                <td>{{ material.material_compras.descripcion|default:"" }}</td>
                <td>{{material.material_compras.unidad_manejo|default:"" }}</td>


                <td>{{ material.material_compras.secretaria|default:"" }}</td>


                <td>{{ material.cantidad_entrega|default_if_none:0 }} </td>
                <td>

                    {% if material.estado_cardista %}
                    Verificado
                    {% else %}
                    <a href="{% url 'verificar' material.item %}" class="btn btn-success">Verificar</a>
                    {% endif %}
                </td>


            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock usuario %}

{% block js %}

<script>
    // Establecer fecha actual en los campos de fecha de inicio y fin
    document.addEventListener('DOMContentLoaded', function () {
        const fechaInicio = document.getElementById('fecha_inicio');
        const fechaFin = document.getElementById('fecha_fin');

        const today = new Date();
        today.setDate(today.getDate() - 1);
        const formattedDate = today.toISOString().split('T')[0];

        if (fechaInicio && !fechaInicio.value) {
            fechaInicio.value = formattedDate;
        }
        if (fechaFin && !fechaFin.value) {
            fechaFin.value = formattedDate;
        }
    });

    $(document).ready(function () {

        $('#compras').DataTable({
            paging: true,
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf', 'print'
            ],
            language: {
                paginate: {
                    next: 'Siguiente',
                    previous: 'Anterior'
                }
            }
        });
    });
</script>

{% endblock js %}