{% extends '../base.html' %}
{% load static %}

{% block index %}
<div class="container mt-5">
    <h2>Editar Unidad</h2>
    <form method="POST" action="{% url 'editar_secretaria' secretaria.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="unidad" class="form-label">Nombre de la Unidad</label>
            <input type="text" class="form-control" id="undiad" name="secretaria" value="{{secretaria.secretaria}}"
                required>
        </div>

        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>
{% endblock index %}

{% block js %}
<!-- Include necessary JS files here, if any -->
{% endblock js %}