{% extends '../base.html' %}
{% load static %}
{% block index %}

<div class="container table-responsive">
    <h2 class="my-4">Registro de Actividades</h2>
    <form action="{% url 'logs_categorias' %}" method="GET">
        <select id="num" name="limit">
            <option name="page" value="10">10</option>
            <option name="page" value="20">20</option>
            <option name="page" value="50">50</option>
            <option name="page" value="100">100</option>
            <option name="page" value="200">200</option>
        </select>
        <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
    </form>
    <table id="logtable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Acción</th>
                <th scope="col">Detalle</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for log in data %}
            <tr>
                <td>{{ log.user }}</td>
                <td>{{ log.accion }}</td>
                <td>{{ log.detalle }}</td>
                <td>{{ log.fecha|date:"d-m-Y H:i:s" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No hay registros disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'paginador/paginador.html' %}
</div>

{% endblock index %}

{% block js %}
<script>
    $(document).ready(function () {
        const table = $('#logtable').DataTable({
            paging: false, // Desactiva la paginación
            dom: 'Bfrtip', // Añade el espacio para los botones
            buttons: [
                'excel', 'pdf', 'print'
            ],
        });
    });
</script>
{% endblock js %}