{% extends '../base.usuarios.html' %}
{% load static %}
{% block usuario %}
<style>
    /* Oculta elementos con la clase 'no-print' al imprimir */
    @media print {
        .no-print {
            display: none;
        }

        .costo_asignar {
            display: none;

        }
    }

    th {
        background-color: #082E33 !important;
        color: rgb(241, 238, 238) !important;
    }

    .modal-content {
        background-color: #0E9097 !important;
        color: rgb(241, 238, 238) !important;
    }

    h5 {
        color: white;
        font-weight: bold;

    }
</style>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código Pedido</th>

            <th>Material</th>
            <th>Cantidad de pedido</th>
            <th>Cantidad entrega</th>
            <th>Partida presupuestada</th>
            <th>Unidad</th>
            <th>Total</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in data %}
        <tr>
            <td>{{ pedido.material.codigo }}</td>

            <td>{{ pedido.material.nombre }}</td>
            <td>{{ pedido.cantidad_pedida }}</td>
            <td>{{ pedido.cantidad_entrega }}</td>
            <td>{{ pedido.partida_presupuestada }}</td>
            <td>{{ pedido.costo_unidad }}</td>
            <td>{{ pedido.costo_total }}</td>


            <td>{{ pedido.fecha_pedido|date:"m/d/y" }}</td>
            <td>
                <button id="costo_asignar" type="button" onclick="asignar_costo('{{ pedido.id }}')"
                    class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Unidad
                </button>
            </td>
        </tr>

        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5" style="text-align:right">Total General:</th>

            <th> {{costo_unidad}} </th>
            <th> {{costo_total}} </th>
            <th></th>
            <th></th>

        </tr>
    </tfoot>
</table>

<div class="text-center mb-3">
    <a href="{% url 'imprimir_costo' data.0.numero_pedido %}" class="btn btn-primary">
        <i class="fas fa-print"></i> Imprimir
    </a>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Costo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form_costo" action="{% url  'asignar_costo' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="costoInput" class="form-label">Costo</label>
                        <input type="float" class="form-control" id="costoInput" name="costo"
                            placeholder="Ingrese el costo" required>
                    </div>
                    <p id="msg"></p>
                    <button id="Guardar" type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock usuario %}

{% block js %}
<script>
    function asignar_costo(id) {

        const form = document.getElementById('form_costo');
        let hiddenField = document.getElementById('pedidoHiddenField');

        if (!hiddenField) {

            hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.id = 'pedidoHiddenField';
            hiddenField.name = 'pedido';
            form.appendChild(hiddenField);
        }


        hiddenField.value = id;
    }

    document.getElementById('form_costo').addEventListener('submit', function (e) {
        e.preventDefault();

        const form = e.target;
        const formData = new FormData(form);

        axios.post(form.action, formData)
            .then((result) => {
                console.log(result.data);
                if (result.data.data) {
                    window.location.reload()
                } else if (result.data.error) {
                    document.getElementById('msg').innerHTML = result.data.error

                }

            })
            .catch((err) => {
                console.error(err);
                alert('Error al asignar el costo.');
            });
    });

    function imprimirTabla() {
        var tabla = document.querySelector('table');
        var tablaClonada = tabla.cloneNode(true);


        var filas = tablaClonada.querySelectorAll('tr');

        filas.forEach(function (fila) {

            var celdas = fila.querySelectorAll('td, th');


            if (celdas.length > 0) {
                celdas[celdas.length - 1].remove();
            }
        });

        var ventanaImpresion = window.open('', '_blank');

        ventanaImpresion.document.write('<html><head><title>Imprimir Tabla</title>');
        ventanaImpresion.document.write('<style>table {width: 100%; border-collapse: collapse;}');
        ventanaImpresion.document.write('th, td {border: 1px solid black; padding: 8px; text-align: left;}');
        ventanaImpresion.document.write('</style></head><body>');
        ventanaImpresion.document.write(tablaClonada.outerHTML);
        ventanaImpresion.document.write('</body></html>');


        ventanaImpresion.document.close();
        ventanaImpresion.print();
    }

</script>


{% endblock js %}