{% extends '../base.usuarios.html' %}

{% block usuario %}

<style>
    th{
        background-color: #082E33 !important;
        color: rgb(241, 238, 238) !important;
    }
    h2{
        color: white;
        
       
        font-weight: bold;
    }
    .row{
        color: white;
        
       
        font-weight: bold;
    }
</style>



<div class="container-fluid">
    <div class="text-center">
        <h2>Cardista</h2>
    </div>
    <form method="POST" class="mb-3" action="{% url 'listar_pedidos_cardista' %}">

        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label for="fecha_inicio">Fecha Inicio</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control"
                    value="{{ fecha_inicio }}">
            </div>
            <div class="col">
                <label for="fecha_fin">Fecha Fin</label>
                <input type="date" id="fecha_fin" name="fecha_fin" class="form-control" value="{{ fecha_fin }}">
            </div>
            <div class="col">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-primary mt-4">Buscar</button>
            </div>
        </div>
        <select id="num" name="limit">
            <option name="page" value="10">10</option>
            <option name="page" value="20">20</option>
            <option name="page" value="50">50</option>
            <option name="page" value="100">100</option>
            <option name="page" value="200">200</option>
        </select>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>C.I</th>
                    <th>Nombre completo</th>
                    <th>Oficina</th>
                    <th>Fecha</th>

                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in data %}
                <tr>
                    <td>{{ pedido.numero_pedido}}</td>
                    <td>{{ pedido.usuario.persona.cedula_identidad }}</td>
                    <td>{{ pedido.usuario.persona.nombre }} {{ pedido.usuario.persona.apellidos }}</td>
                    <td>{{ pedido.usuario.oficina.nombre }}</td>



                    <td>{{ pedido.fecha_pedido|date:"m/d/y" }}</td>

                    <td>
                        <a class="btn btn-success btn-sm"
                            href="{% url 'pedido_numero_cardista' pedido.numero_pedido %}">Ver
                            pedidos</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'paginador/paginador.html' %}
</div>



{% endblock usuario %}

{% block js %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const today = new Date();
        today.setDate(today.getDate() - 1); // Resta un día
        const formattedDate = today.toISOString().split('T')[0];

        if (!document.getElementById('fecha_inicio').value) {
            document.getElementById('fecha_inicio').value = formattedDate;
        }
        if (!document.getElementById('fecha_fin').value) {
            document.getElementById('fecha_fin').value = formattedDate;
        }
    });


</script>

{% endblock js %}